@import 'parts/fonts.scss';
@import 'parts/vars.scss';
@import 'parts/mixins.scss';
@import 'parts/icons.scss';
@import 'parts/reset.scss';
@import 'parts/services.scss';
@import '../blocks/**/*.scss';

.b-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: $text-ffamily;
  overflow-x: hidden;
  overflow-y: auto;
  @media (min-width: $t) {
    @include no-scroll;
    padding: 0
  }
}

.b-head {
  color: $text-color-main;
  position: relative;
  background: white;
  &__wrap {
    display: flex;
    align-items: center;
    padding: 12px 0;
    position: relative;
  }
  &__logo {
    height: 27px;
    width: 108px;
    margin-right: 52px;
    background-image: url(../assets/img/ya-logo-home@1x.png);
    background-image: url(../assets/img/ya-logo-home@2x.png);
    //background-image: url(../assets/img/ya-logo-home.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    & a {
      width: 100%;
      height: 100%;
    }

  }
  &__menu {
    .b-head__nav-wrap {
      position: fixed;
      background: #F0F0F0;
      height: 100%;
      top: 0;
      z-index: 2;
      right: 0;
      min-width: 50%;
      padding: 120px 30px 30px;
      box-sizing: border-box;
      transform: translateX(100%);
      transition: transform .45s ease-in-out;
      nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
      }
      a {
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 0.5rem;
        opacity: 0.6;
        &:last-child {
          margin-bottom: 0;
        }
        &.mod-active {
          opacity: 1;
        }
      }
    }
  }
  &__trigger {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -(($bar-thickness*5) / 2);
    padding: $bar-thickness*2 0;
    transition: 0.2s ease-in-out;
    z-index: 10;
    .b-bars {
      position: relative;
      cursor: pointer;
      &,
      &:before,
      &:after {
        width: $bar-length;
        height: $bar-thickness;
        background-color: $text-color-main;
        border-radius: $bar-thickness;
        transition: 0.2s ease-in-out;
      }
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        will-change: transform;
      }
      &:before {
        transform: translateY(-($bar-thickness*2));
      }
      &:after {
        transform: translateY(($bar-thickness*2));
      }
    }
    &.is-active {
      transform: rotate(-45deg);
      .b-bars {
        &:before,
        &:after {
          transform: translateX(0) rotate(-90deg);
        }
      }
      & + .b-head__nav-wrap {
        transform: translateX(0%);
        transition: transform 0.25s ease-in-out;
      }
    }
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0.5rem;
      cursor: pointer;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @media (min-width: $t) {
    border-bottom: 1px solid #F0F0F0;
    &__wrap {
      padding: 36px 0
    }
    &__trigger {
      display: none
    }
    &__menu {
      .b-head__nav-wrap {
        position: static;
        background: transparent;
        padding: 0;
        transform: none;
        transition: none;
        nav {
          flex-direction: row;
          position: static;
          overflow: hidden;
          a {
            margin-bottom: 0;
            margin-right: 26px;
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.b-content {
  flex: 1 0 auto;
  font-family: $text-ffamily;
  &__main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  &__inner {
    height: 100%;
    margin-top: 20px;
  }
  &__line {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    &:first-child {
      margin-top: 0;
    }
  }
  &__col {
    margin-bottom: 31px;
    width: 100%;
    overflow-x: hidden;
    &:last-child {
      margin-right: 0;
    }
  }
  &__title {
    margin-top: 5px;
    padding: 5px 60px 5px 0;
    display: flex;
    align-items: center;
    & > :not(:last-child) {
      margin-right: 13px;
    }
    h1, h2, h3, h4, h5, h6 {
      font-size: 18px;
      color: $text-color-main;
      line-height: 21px;
      font-weight: bold;
    }
  }
  &__arrows {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 21px;
    }
  }
  @media (min-width: $t) {
    &__arrows {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    &__line {
      flex-direction: row;
      &:first-child {
        margin-top: 29px;
      }
    }
    &__col {
      margin-bottom: 0;
      width: 100%;
      margin-right: 24px;
      overflow-x: hidden;
      &:last-child {
        margin-right: 0;
        max-width: 430px;
        min-width: 430px;
        width: 430px;
      }
    }
    &__title {
      padding: 5px 150px 5px 0;
      &:first-child {
        display: flex;
        align-items: center;
      }
    }
  }
  @media (min-width: $d) {
    &__col {
      width: 50%;
      margin-right: 24px;
      overflow-x: hidden;
      &:last-child {
        max-width: 50%;
        min-width: 50%;
        width: 50%;
        margin-right: 0;
      }
    }
  }
}

.b-footer {
  flex: 0 0 auto;
  background: white;
  margin-bottom: 0;
  margin-top: auto;
  padding: 22px 0 25px;

  font-size: 12px;
  line-height: 14px;
  color: $text-color-grey;
  letter-spacing: 0.01px;
  font-family: $text-ffamily;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  &__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
    a {
      margin: 0.15rem 0.5rem;
    }
  }
  @media (min-width: $t) {
    flex-direction: row;
    &__menu {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 0;
      width: auto;
      a {
        margin: 0 1rem 0 0;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

.b-info {
  width: 100%;
  height: 1px;
  min-height: 331px;
  background-image: url(../assets/img/bg@1x.png);
  background-image: url(../assets/img/bg@2x.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  font-family: $text-ffamily;
  color: $text-color-main;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  &__title {
    margin-bottom: 25px;
    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 6px;
      @media (min-width: $t) {
        font-size: 27px;
        line-height: 31px;
      }
    }
    p {
      font-size: 12px;
      line-height: 14px;
      @media (min-width: $t) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  &__values {
    display: flex;
    flex-wrap: wrap;
    & > :not(:last-child) {
      margin-right: 18px;
    }
  }
  &__arrow {
    display: none;
    position: absolute;
    bottom: 0;
    width: inherit;
    opacity: 0;
    transition: 0.45s ease-in-out;
    &.is-show {
      opacity: 1;
    }
  }
  &__tabs {
    height: auto;
    min-height: 120px;
    width: 100%;
    margin-top: 20px;
    &-wrap {
      //@extend %no-scroll;
      width: 100%;
      height: auto;
      display: flex;
      overflow: hidden;
      position: absolute;
      left: 0;
      & > :first-child {
        margin-left: 20px;
      }
      & > :not(:last-child) {
        margin-right: 15px;
      }
      & > :last-child {
        margin-right: 20px;
      }
    }
  }
  @media (min-width: $t) {
    padding: 26px 25px;
    flex-direction: row;
    &__tabs {
      height: 100%;
      width: 200px;
      min-width: 200px;
      margin-left: 26px;
      display: flex;
      flex-direction: column;
      margin-top: 0;
      &-wrap {
        height: 100%;
        overflow-y: scroll;
        position: absolute;
        top: 0;
        left: auto;
        display: block;
        & > :first-child {
          margin-left: 0;
          margin-top: 26px;
        }
        & > :not(:last-child) {
          margin-bottom: 15px;
          margin-right: 0;
        }
        & > :last-child {
          margin-bottom: 26px;
          margin-right: 0;
        }
      }
    }
    &__arrow {
      display: flex;
    }
  }
}

.b-temp {
  font-family: $text-ffamily;
  color: $text-color-main;
  display: flex;
  flex-direction: column;
  &__title {
    color: $text-color-grey;
    font-size: 12px;
    line-height: 14px;
    @media (min-width: $t) {
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__value {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;

    @media (min-width: $t) {
      font-size: 36px;
      line-height: 42px;
    }
  }
  &__ico {
    display: inline-block;
    height: 18px;
    width: 18px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &.mod-cloud {
      background-image: url(../assets/img/cloud-drizzle@1x.png);
      background-image: url(../assets/img/cloud-drizzle@2x.png);
      background-image: url(../assets/img/cloud-drizzle.svg);
    }
    @media (min-width: $t) {
      height: 26px;
      width: 26px;
    }
  }

}

.b-tab {
  min-width: 200px;
  max-width: 200px;
  min-height: 120px;
  height: 1px;
  border-radius: 20px;
  background: $tab-bg-color;
  padding: 14px;
  box-sizing: border-box;
  font-family: $text-ffamily;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  &:hover {
    background: white;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);
    transition: 0.35s ease-in-out;
  }
  &__content {
    & > :last-child {
      margin-bottom: 0;
    }
  }
  &__ico {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &.mod-temp-1 {
      background-image: url(../assets/img/icon_temperature@1x.png);
      background-image: url(../assets/img/icon_temperature@2x.png);
      background-image: url(../assets/img/icon_temperature1.svg);
    }
    &.mod-sun-1 {
      background-image: url(../assets/img/icon_sun@1x.png);
      background-image: url(../assets/img/icon_sun@2x.png);
      background-image: url(../assets/img/icon_sun_1.svg);
    }
    &.mod-sun-2 {
      background-image: url(../assets/img/icon_sun_2@1x.png);
      background-image: url(../assets/img/icon_sun_2@2x.png);
      background-image: url(../assets/img/icon_sun_2.svg);
    }
    &.mod-temp-2 {
      background-image: url(../assets/img/icon_temperature_2@1x.png);
      background-image: url(../assets/img/icon_temperature_2@2x.png);
      background-image: url(../assets/img/icon_temperature_2.svg);
    }
    &.mod-clock {
      background-image: url(../assets/img/icon_scheduled@1x.png);
      background-image: url(../assets/img/icon_scheduled@2x.png);
      background-image: url(../assets/img/icon_scheduled.svg);
    }
  }
  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
    color: $text-color-main;
  }
  &__text {
    font-size: 12px;
    line-height: 14px;
    color: $text-color-grey;
  }
  &.mod-height-100 {
    min-height: 100px;
  }
}

.b-arrow {
  width: 16px;
  height: 16px;
  margin: 10px auto;
  align-self: center;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  &.mod-arrow-top {
    background-image: url(../assets/img/Icons/arrow/arrow-top@1x.png);
    background-image: url(../assets/img/Icons/arrow/arrow-top@2x.png);
    background-image: url(../assets/img/Icons/arrow/arrow-top.svg);
  }
  &.mod-arrow-right {
    background-image: url(../assets/img/Icons/arrow/arrow-right.png);
    background-image: url(../assets/img/Icons/arrow/arrow-right.svg);
    transform: rotate(180deg);
    margin: 0 15px 0 0;
    line-height: 21px;
  }
  &.mod-arrow-left {
    background-image: url(../assets/img/Icons/arrow/arrow-right.png);
    background-image: url(../assets/img/Icons/arrow/arrow-right.svg);
    margin: 0 15px 0 0;
    line-height: 21px;
  }
}

.b-scenarios {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;

  &__wrap {
    //position: absolute;
    display: grid;
    grid-template-rows: repeat(1, 100px);
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    grid-gap: 15px;
    transition: 0.45s ease-in-out;
    margin-right: 15px;
  }
  @media (min-width: $t) {
    &__wrap {
      grid-template-rows: repeat(3, 100px);
      min-width: 200px + 15px + 200px + 15px;
      & > .b-tab {
        margin-bottom: 15px;
        margin-right: 15px;
      }
    }
  }
  @media (min-width: $d) {
    &__wrap {
      min-width: 200px + 15px + 200px + 15px + 200px + 15px;
    }
  }
  //For IE
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    &__wrap {
      height: 100px + 15px + 100px + 15px + 100px + 15px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-right: 0;
    }
  }
}

.b-favorites {
  &__wrap {
    overflow: hidden;
    display: flex;
    & > :not(:last-child) {
      margin-right: 15px;
    }
  }
}

.b-cat {
  font-family: $text-ffamily;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  top: 0;
  padding: 5px;
  width: 125px;
  &.is-active-mob {
    background: $tab-bg-color;
    .b-cat__item {
      display: inline-block;
    }
  }
  &__item {
    display: none;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
    padding: 8px 15px;
    color: black;

    border-radius: 20px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &.is-active {
      background: $yellow;
      order: -1;
      display: inline-block;
    }
  }
  @media (min-width: $t) {
    position: static;
    width: auto;
    display: inline-block;
    padding: 0;
    background: transparent;
    &.is-active-mob {
      background: transparent;
    }
    &__item {
      display: inline-block;
      margin-right: 36px - 15px;
    }
  }
}

.mod-b-inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  @media (min-width: $t) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @media (min-width: $d + 40px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.mod-disabled {
  pointer-events: none;
  opacity: 0.3;
}

.mod-mob-hidden {
  display: none;
  @media (min-width: $t) {
    display: block;
  }
}
//.mod-popup-active{
//  position: fixed;
//  top: 50%;
//  left: 50%;
//  z-index: 20;
//  transform: translate(-50%, -50%);
//  &:after{
//    content: '';
//    width: 100vw;
//    height: 100vh;
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%,-50%);
//    z-index: -1;
//    background: black;
//  }
//}
.head-is-fixed {
  .b-head {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0 20px;
    box-sizing: border-box;
    @media (min-width: $t) {
      padding: 0;
      &__menu {
        .b-head__nav-wrap {
          position: fixed;
          background: #F0F0F0;
          height: 100%;
          top: 0;
          z-index: 2;
          right: 0;
          min-width: 250px;
          padding: 120px 30px 30px;
          box-sizing: border-box;
          transform: translateX(100%);
          transition: right .45s ease-in-out;
          nav {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
          }
          a {
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 0.5rem;
            opacity: 0.6;
            &:last-child {
              margin-bottom: 0;
            }
            &.mod-active {
              opacity: 1;
            }
          }
        }
      }
      &__trigger {
        position: absolute;
        display: block;
        top: 50%;
        right: 0;
        margin-top: -(($bar-thickness*5) / 2);
        padding: $bar-thickness*2 0;
        transition: 0.2s ease-in-out;
        z-index: 10;
        margin-right: 20px;

        .b-bars {
          position: relative;
          cursor: pointer;
          &,
          &:before,
          &:after {
            width: $bar-length;
            height: $bar-thickness;
            background-color: $text-color-main;
            border-radius: $bar-thickness;
            transition: 0.2s ease-in-out;
          }
          &:before,
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            will-change: transform;
          }
          &:before {
            transform: translateY(-($bar-thickness*2));
          }
          &:after {
            transform: translateY(($bar-thickness*2));
          }
        }
        &.is-active {
          transform: rotate(-45deg);
          .b-bars {
            &:before,
            &:after {
              transform: translateX(0) rotate(-90deg);
            }
          }
          & + .b-head__nav-wrap {
            transform: translateX(0%);
            transition: transform 0.25s ease-in-out;
          }
        }
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 0.5rem;
          cursor: pointer;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
