//Попап
.b-popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  font-family: $text-ffamily;
  color: $text-color-main;
  padding: 20px;
  box-sizing: border-box;
  min-width: 300px;
  &.is-open {
    animation: popup-open 0.25s ease-in-out forwards;
    display: flex;
    flex-direction: column;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__content {
    width: 100%;
    border-radius: 20px;
    padding: 26px;
    box-sizing: border-box;
    background: white;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  &__inner {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__tite {
    font-size: 27px;
    line-height: 31px;
    font-weight: bold;
    margin-bottom: 6px;
    flex: 1 1 auto;
    &:before {
      content: attr(data-title);
    }
  }

  &__value {
    font-weight: bold;
    font-size: 36px;
    display: none;
    span {
      display: flex;
      align-items: center;
      &:before {
        content: attr(data-val);
      }
    }
  }
  &__status {
    font-size: 14px;
    line-height: 16px;
    &:before {
      content: attr(data-status);
    }
  }
  &__btns {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .btn {
      flex: 1 1 auto;
      background: white;
      font-size: 18px;
      color: $text-color-main;
      font-family: $text-ffamily;
      text-align: center;
      border-radius: 20px;
      font-weight: bold;
      padding: 20px;
      box-sizing: border-box;
      margin-bottom: 16px;
      transition: 0.2s;
      &:active {
        transform: scale(0.99);
      }
      &:last-child {
        margin-bottom: 0;
      }
      &.mod-color-yellow {
        background: $yellow;
        color: black;
      }

    }

  }
  .b-tabs {
    @include no-scroll-h;
    display: flex;
    position: relative;
    align-self: flex-start;
    margin-bottom: 24px;
    flex-direction: row;
    width: 100%;
    padding-bottom: 0;
    white-space: nowrap;
    &__item {
      display: inline-block;
      &.is-active {
        order: inherit;
      }
    }
  }
  @media(min-width: $t) {
    width: 630px;
    height: auto;
    &__value {
      display: block;
    }
    &__btns {
      margin-top: 20px;
      flex-direction: row;
      .btn {
        margin-right: 16px;
        margin-bottom: 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &__inner {
      display: block;
    }
  }
}
//Попап END

//Круглый регулятор температуры
.b-circle {
  width: 221px;
  height: 221px;
  border-radius: 50%;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &__inner {
    width: 178px;
    height: 178px;
    background-image: url(../assets/img/background@2x.png);
    background-image: url(../assets/img/background@1x.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 2;
    border-radius: 50%;
    cursor: pointer;
  }
  &__dot {
    position: absolute;
    width: 5%;
    height: 50%;
    left: 47.5%;
    top: 0;
    transform: rotate(0deg);
    transform-origin: center bottom;
    z-index: 2;
    &:before {
      content: "";
      position: absolute;
      background-image: url(../assets/img/Icons/arrow/icon_arrow.png);
      background-image: url(../assets/img/Icons/arrow/icon_arrow.svg);
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: contain;
      width: 10px;
      height: 7px;
      top: 27px;
      cursor: pointer;
    }
  }
  &__reg {
    position: absolute;
    z-index: 1;
    width: 221px;
    height: 221px;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    svg {
      width: 100%;
      height: 100%;
      overflow: visible;
      pointer-events: none;
    }
    .circle {
      cx: 110;
      cy: 110;
      r: 86px;
      &.mod-dash-gray {
        fill: #fff;
        stroke: #333;
        stroke-width: 48px;
        stroke-dashoffset: 1px;
        opacity: 0.7;
        stroke-dasharray: 1.4;
      }
      &.mod-dash-white {
        fill: #fff;
        stroke: white;
        stroke-width: 48px;
        opacity: 1;
        stroke-dasharray: 1.4;
        stroke-dashoffset: 1px;
      }
      &.mod-limit {
        fill: transparent;
        stroke: white;
        stroke-width: 80px;
        stroke-dasharray: 242%;
        stroke-dashoffset: 400px;
      }
      &.mod-back-color {
        fill: transparent;
        stroke: #F9CC82;
        stroke-width: 48px;
        stroke-dasharray: 1040px;
        stroke-dashoffset: 500px;
        position: relative;
        /*stroke-dasharray: 630px;*/
        /*stroke-dasharray: 1040px;*/
      }
    }
  }
  &__val {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 66px;
    line-height: 76px;
    font-family: $text-ffamily;
    color: $text-color-main;
    font-weight: bold;
    z-index: 2;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    &:before {
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      content: attr(data-val);
    }
  }
}
//Круглый регулятор температуры END

//page
.b-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: $text-ffamily;
  overflow-x: hidden;
  transition: 0.3s ease-in-out;
  @media (min-width: $t) {
    @include no-scroll;
    padding: 0
  }
  &:after {
    content: "";
    background: transparent;
    transition: 0.25s;
  }
  &.is-fixed {
    &:after {
      content: "";
      background: #000;
      transition: 0.25s;
    }
  }
}
//page END

// header
.b-head {
  color: $text-color-main;
  position: relative;
  background: white;
  &__wrap {
    display: flex;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    position: relative;
  }
  &__logo {
    height: 27px;
    width: 108px;
    margin-right: 52px;
    background-image: url(../assets/img/ya-logo-home@1x.png);
    background-image: url(../assets/img/ya-logo-home@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    & a {
      width: 100%;
      height: 100%;
    }
  }
  &__menu {
    .b-head__nav-wrap {
      position: fixed;
      background: #F0F0F0;
      height: 100%;
      top: 0;
      z-index: 2;
      right: 0;
      min-width: 50%;
      padding: 120px 30px 30px;
      box-sizing: border-box;
      transform: translateX(100%);
      transition: transform .45s ease-in-out;
      nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
      }
      a {
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 0.5rem;
        opacity: 0.6;
        &:last-child {
          margin-bottom: 0;
        }
        &.mod-active {
          opacity: 1;
        }
      }
    }
  }
  &__trigger {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -(($bar-thickness*5) / 2);
    padding: $bar-thickness*2 0;
    transition: 0.2s ease-in-out;
    z-index: 10;
    .b-bars {
      position: relative;
      cursor: pointer;
      &,
      &:before,
      &:after {
        width: $bar-length;
        height: $bar-thickness;
        background-color: $text-color-main;
        border-radius: $bar-thickness;
        transition: 0.2s ease-in-out;
      }
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        will-change: transform;
      }
      &:before {
        transform: translateY(-($bar-thickness*2));
      }
      &:after {
        transform: translateY(($bar-thickness*2));
      }
    }
    &.is-active {
      transform: rotate(-45deg);
      .b-bars {
        &:before,
        &:after {
          transform: translateX(0) rotate(-90deg);
        }
      }
      & + .b-head__nav-wrap {
        transform: translateX(0%);
        transition: transform 0.25s ease-in-out;
      }
    }
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0.5rem;
      cursor: pointer;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media (min-width: $t) {
    border-bottom: 1px solid #F0F0F0;
    &__wrap {
      padding-top: 33px;
      padding-bottom: 33px;
    }
    &__trigger {
      display: none
    }
    &__menu {
      .b-head__nav-wrap {
        position: static;
        background: transparent;
        padding: 0;
        transform: none;
        transition: none;
        nav {
          flex-direction: row;
          position: static;
          overflow: hidden;
          a {
            margin-bottom: 0;
            margin-right: 26px;
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
// header END

//content
.b-content {
  flex: 1 0 auto;
  font-family: $text-ffamily;
  &__main {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  &__inner {
    height: 100%;
  }
  &__line {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    &:first-child {
      margin-top: 0;
      & > :first-child {
        margin-top: 0;
        header {
          display: none;
        }
      }
    }
  }
  &__col {
    margin-bottom: 26px;
    width: 100%;
    overflow-x: hidden;
    &:last-child {
      margin-right: 0;
    }
  }
  &__title {
    padding: 5px 150px 5px 0;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    position: relative;
    & > :not(:last-child) {
      margin-right: 13px;
    }
    h1, h2, h3, h4, h5, h6 {
      font-size: 18px;
      color: $text-color-main;
      line-height: 21px;
      font-weight: bold;
    }
  }
  &__arrows {
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 0;
    transform: translate(0, -50%);
    visibility: hidden;
    pointer-events: none;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 21px;
    }
  }
  @media (min-width: $t) {
    &__arrows {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    &__line {
      flex-direction: row;
      margin-top: 29px;
      &:first-child {
        margin-top: 24px;
        & > :first-child {
          header {
            display: block;
          }
        }
      }

    }
    &__col {
      margin-bottom: 0;
      width: 100%;
      margin-right: 24px;
      overflow-x: hidden;
      &:last-child {
        margin-right: 0;
        max-width: 430px;
        min-width: 430px;
        width: 430px;
      }
    }
    &__title {
      padding: 5px 70px 5px 0;
      &:first-child {
        display: flex;
        align-items: center;
      }
    }
  }
  @media (min-width: $d) {
    &__col {
      width: 50%;
      margin-right: 24px;
      overflow-x: hidden;
      &:last-child {
        max-width: 50%;
        min-width: 50%;
        width: 50%;
        margin-right: 0;
      }
    }
  }
}
//content END

//footer
.b-footer {
  flex: 0 0 auto;
  background: white;
  margin-bottom: 0;
  margin-top: auto;
  padding: 22px 0 25px;
  font-size: 12px;
  line-height: 14px;
  color: $text-color-grey;
  letter-spacing: 0.01px;
  font-family: $text-ffamily;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  &__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
    a {
      margin: 0.15rem 0.5rem;
    }
  }
  @media (min-width: $t) {
    flex-direction: row;
    &__menu {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 0;
      width: auto;
      a {
        margin: 0 1rem 0 0;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
//footer END

.b-info {
  width: 100%;
  height: 1px;
  min-height: 331px;
  background-image: url(../assets/img/bg@1x.png);
  background-image: url(../assets/img/bg@2x.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  font-family: $text-ffamily;
  color: $text-color-main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  &__title {
    margin-bottom: 25px;
    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 6px;
      @media (min-width: $t) {
        font-size: 27px;
        line-height: 31px;
      }
    }
    p {
      font-size: 12px;
      line-height: 14px;
      @media (min-width: $t) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  &__values {
    display: flex;
    flex-wrap: wrap;
    & > :not(:last-child) {
      margin-right: 18px;
    }
  }
  &__arrow {
    display: none;
    position: absolute;
    bottom: 0;
    width: inherit;
    opacity: 0;
    transition: 0.45s ease-in-out;
    &.is-show {
      opacity: 1;
    }
  }
  &__tabs {
    height: auto;
    min-height: 120px;
    width: 100%;
    margin-top: 20px;
    &-wrap {
      @include no-scroll-h;
      width: 100%;
      height: auto;
      display: flex;
      position: absolute;
      left: 0;
      & > :first-child {
        margin-left: 20px;
      }
      & > :not(:last-child) {
        margin-right: 15px;
      }
      & > :last-child {
        margin-right: 20px;
      }
      &:after {
        content: "";
        padding-right: 1px;
      }
    }
  }
  @media (min-width: $t) {
    padding: 26px 25px;
    flex-direction: row;
    &__tabs {
      height: 100%;
      width: 200px;
      min-width: 200px;
      margin-left: 26px;
      display: flex;
      flex-direction: column;
      margin-top: 0;
      &-wrap {
        @include no-scroll-w;
        height: 100%;
        width: auto;
        position: absolute;
        padding-bottom: 0;
        top: 0;
        left: auto;
        display: block;
        & > :first-child {
          margin-left: 0;
          margin-top: 26px;
        }
        & > :not(:last-child) {
          margin-bottom: 15px;
          margin-right: 0;
        }
        & > :last-child {
          margin-bottom: 26px;
          margin-right: 0;
        }
        &:after {
          display: none;
        }
      }
    }
    &__arrow {
      display: flex;
    }
  }
}

.b-temp {
  font-family: $text-ffamily;
  color: $text-color-main;
  display: flex;
  flex-direction: column;
  &__title {
    color: $text-color-grey;
    font-size: 12px;
    line-height: 14px;
    @media (min-width: $t) {
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__value {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    @media (min-width: $t) {
      font-size: 36px;
      line-height: 42px;
    }
  }
}

.b-tab {
  min-width: 200px;
  max-width: 200px;
  min-height: 120px;
  height: 1px;
  border-radius: 20px;
  background: $tab-bg-color;
  padding: 14px;
  box-sizing: border-box;
  font-family: $text-ffamily;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  &:hover {
    background: white;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);
    transition: 0.35s ease-in-out;
  }
  &__content {
    & > :last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
    color: $text-color-main;
    &:before {
      content: attr(data-title);
    }
  }
  &__text {
    font-size: 12px;
    line-height: 14px;
    color: $text-color-grey;
    &:before {
      content: attr(data-status);
    }
  }
  &.mod-height-100 {
    min-height: 100px;
  }
}

.b-arrow {
  width: 16px;
  height: 16px;
  margin: 10px auto;
  align-self: center;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  &.mod-arrow-top {
    background-image: url(../assets/img/Icons/arrow/arrow-top@1x.png);
    background-image: url(../assets/img/Icons/arrow/arrow-top@2x.png);
    background-image: url(../assets/img/Icons/arrow/arrow-top.svg);
  }
  &.mod-arrow-right {
    background-image: url(../assets/img/Icons/arrow/arrow-right.png);
    background-image: url(../assets/img/Icons/arrow/arrow-right.svg);
    transform: rotate(180deg);
    margin: 0 15px 0 0;
    line-height: 21px;
  }
  &.mod-arrow-left {
    background-image: url(../assets/img/Icons/arrow/arrow-right.png);
    background-image: url(../assets/img/Icons/arrow/arrow-right.svg);
    margin: 0 15px 0 0;
    line-height: 21px;
  }
}

.b-scenarios {
  height: 100%;
  position: relative;
  max-height: 100px;
  &__wrap {
    @include no-scroll-h;
    height: 100px;
    display: grid;
    grid-template-rows: repeat(1, 100px);
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    grid-gap: 15px;
    transition: 0.45s ease-in-out;
    margin-right: 15px;
  }
  @media (min-width: $t) {
    max-height: none;
    &__wrap {
      overflow-x: hidden;
      height: auto;
      grid-template-rows: repeat(3, 100px);
      min-width: 200px + 15px + 200px + 15px;
      padding-bottom: 0;
      & > .b-tab {
        margin-bottom: 15px;
        margin-right: 15px;
      }
    }
  }
  @media (min-width: $d) {
    &__wrap {
      min-width: 200px + 15px + 200px + 15px + 200px + 15px;
    }
  }
  //For IE
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    &__wrap {
      height: 100px + 15px + 100px + 15px + 100px + 15px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-right: 0;
    }
  }
}

.b-favorites {
  max-height: 120px;
  &__wrap {
    @include no-scroll-h;
    display: flex;
    & > :not(:last-child) {
      margin-right: 15px;
    }
  }
}

.b-tabs {
  font-family: $text-ffamily;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 0;
  top: 0;
  padding: 5px 0;
  box-sizing: border-box;
  padding-bottom: 12px !important;
  &.is-active-mob {
    background: $tab-bg-color;
    .b-tabs__item {
      display: inline-block;
    }
  }
  &__item {
    display: none;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
    padding: 8px 15px;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &.is-active {
      background: $yellow;
      order: -1;
      display: inline-block;
    }
  }
  @media (min-width: $t) {
    position: static;
    width: auto;
    display: inline-block;
    padding: 0 !important;
    background: transparent;
    &.is-active-mob {
      background: transparent;
    }
    &__item {
      display: inline-block;
      margin-right: 36px - 15px;
    }
  }
}

.b-range {
  position: relative;
  color: white;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  width: 60px;
  height: 336px;
  margin: auto;
  &:before {
    content: attr(data-max);
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    z-index: 1;
  }
  &:after {
    content: attr(data-min);
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
  }

  input[type=range] {
    -webkit-appearance: none;
    height: 60px;
    width: 336px;

    border-radius: 30px;
    padding: 0;
    margin: 0;
    transform: rotate(-90deg) translate(-133px, -138px);
    position: absolute;
    background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
  }
  &.mod-temp {
    input[type=range] {
      background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
    }
  }
  &.mod-sun {
    input[type=range] {
      background-image: linear-gradient(90deg, #FFE682 2%, #FF9E00 98%);
    }
    &:before {
      content: "";
      background-image: url(../assets/img/icon_sun_max.png);
      background-image: url(../assets/img/icon_sun_max.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 50%;
      top: 16px;
      transform: translateX(-50%);
      z-index: 1;
    }
    &:after {
      content: "";
      background-image: url(../assets/img/icon_sun_min.png);
      background-image: url(../assets/img/icon_sun_min.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 50%;
      bottom: 16px;
      transform: translateX(-50%);
    }
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 60px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 30px 0;
    color: transparent;
  }
  input[type=range]::-webkit-slider-thumb {
    border-radius: 60px;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    height: 68px;
    width: 68px;
    margin: -4px 0;
    border: 4px solid white;
    position: relative;
    box-shadow: 0px 0px 0px 3px rgba(51, 51, 51, 0.10) inset;
  }
  input[type=range]::-moz-range-thumb {
    border-radius: 60px;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    height: 52px;
    width: 52px;
    padding: 4px;
    border: 4px solid white;
    position: relative;
    box-shadow: 0px 0px 0px 3px rgba(51, 51, 51, 0.10) inset;
  }
  input[type=range]::-moz-focus-outer {
    border: 0;
  }
  input[type=range]::-moz-range-track {
    opacity: 0;
  }
  input[type=range]::-ms-thumb {
    border-radius: 60px;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    height: 52px;
    width: 52px;
    padding: 4px;
    border: 4px solid white;
    position: relative;
    box-shadow: 0px 0px 0px 3px rgba(51, 51, 51, 0.10) inset;
  }
  @media(min-width: $t) {
    width: 100%;
    margin-top: 25px;
    height: 60px;
    &:after {
      transform: none;
      left: 20px;
    }
    &:before {
      transform: none;
      right: 20px;
      left: auto;
      z-index: 1;
    }
    &.mod-sun {
      &:after {
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:before {
        right: 20px;
        left: auto;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    input[type="range"] {
      transform: none;
      width: 100%;
    }
  }
}