@font-face {
  font-family: 'ArialMT';
  src: url("../assets/fonts/arialmt/arialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArialMT';
  src: url("../assets/fonts/arialmt/arialMT-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}