.mod-b-inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  @media (min-width: $t) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @media (min-width: $d + 40px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.mod-disabled {
  pointer-events: none;
  opacity: 0.3;
}

.mod-mob-hidden {
  display: none;
  @media (min-width: $t) {
    display: block;
  }
}

.head-is-fixed {
  .b-head {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0 20px;
    box-sizing: border-box;
    @media (min-width: $t) {
      padding: 0;
      &__menu {
        .b-head__nav-wrap {
          position: fixed;
          background: #F0F0F0;
          height: 100%;
          top: 0;
          z-index: 2;
          right: 0;
          min-width: 250px;
          padding: 120px 30px 30px;
          box-sizing: border-box;
          transform: translateX(100%);
          transition: right .45s ease-in-out;
          nav {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
          }
          a {
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 0.5rem;
            opacity: 0.6;
            &:last-child {
              margin-bottom: 0;
            }
            &.mod-active {
              opacity: 1;
            }
          }
        }
      }
      &__trigger {
        position: absolute;
        display: block;
        top: 50%;
        right: 0;
        margin-top: -(($bar-thickness*5) / 2);
        padding: $bar-thickness*2 0;
        transition: 0.2s ease-in-out;
        z-index: 10;
        margin-right: 20px;

        .b-bars {
          position: relative;
          cursor: pointer;
          &,
          &:before,
          &:after {
            width: $bar-length;
            height: $bar-thickness;
            background-color: $text-color-main;
            border-radius: $bar-thickness;
            transition: 0.2s ease-in-out;
          }
          &:before,
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            will-change: transform;
          }
          &:before {
            transform: translateY(-($bar-thickness*2));
          }
          &:after {
            transform: translateY(($bar-thickness*2));
          }
        }
        &.is-active {
          transform: rotate(-45deg);
          .b-bars {
            &:before,
            &:after {
              transform: translateX(0) rotate(-90deg);
            }
          }
          & + .b-head__nav-wrap {
            transform: translateX(0%);
            transition: transform 0.25s ease-in-out;
          }
        }
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 0.5rem;
          cursor: pointer;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

input[type=range] {
  -webkit-appearance: none;
  height: 60px;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background-image: linear-gradient(-90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
  height: 60px;
  border-radius: 30px;
  border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
  border-radius: 60px;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  height: 68px;
  width: 68px;
  margin: -4px -4px -4px -4px;
  border: 4px solid #FFFFFF;
  position: relative;
  box-shadow: 0px 0px 0px 3px rgba(51,51,51,0.10) inset;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background-image: linear-gradient(-90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
  border-radius: 30px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 60px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background-image: linear-gradient(-90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
  border-radius: 30px;
  border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
  border-radius: 60px;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  height: 68px;
  width: 68px;
  margin: -4px -4px -4px -4px;
  border: 4px solid #FFFFFF;
  position: relative;
  box-shadow: 0px 0px 0px 3px rgba(51,51,51,0.10) inset;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background-image: linear-gradient(-90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
  border-radius: 30px;
  border: 0px solid #000101;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background-image: linear-gradient(-90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
  border-radius: 30px;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
  border-radius: 60px;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  height: 68px;
  width: 68px;
  margin: -4px -4px -4px -4px;
  border: 4px solid #FFFFFF;
  position: relative;
  box-shadow: 0px 0px 0px 3px rgba(51,51,51,0.10) inset;
}

input[type=range]:focus::-ms-fill-lower {
  background-image: linear-gradient(-90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
  border-radius: 30px;
}

input[type=range]:focus::-ms-fill-upper {
  background-image: linear-gradient(-90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
  border-radius: 30px;
}
