$d: 1280px;
$t: 768px;

$bar-length: 16px;
$bar-thickness: 2px;

$text-color-grey: #858585;
$text-color-main: #333;
$text-color-red: #d00;
$text-ffamily: "ArialMT", Arial, sans-serif;
$tab-bg-color: #F7F7F7;

$yellow:#FFD93E;


